html {
	position: relative;
	top: 40px;
	margin: 0;
	padding: 0
}

body {
	font: 11px Helvetica,Arial,sans-serif;
	text-align: center;
	position: relative;
	top: 69px;
	right: 1px;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	margin: 0;
	padding: 0;
	background: #fff
}

body img {
	border: 0
}

body a {
	outline: 0
}

body div#torrent_container {
	min-height: 328px
}

body div.dialog_container {
	min-height: 326px
}

body div#torrent_inspector {
	min-height: 329px
}

body.landscape div#torrent_container {
	min-height: 147px
}

body.landscape div#dialog_container,body.landscape div#torrent_inspector {
	min-height: 143px
}

body.inspector_showing #torrent_filter_bar,body.inspector_showing #torrent_container,body.dialog_showing #torrent_filter_bar,body.dialog_showing #torrent_container,body.dialog_showing #torrent_inspector,body.prefs_showing #torrent_inspector,body.prefs_showing #torrent_filter_bar,body.prefs_showing #torrent_container,body.open_showing #torrent_filter_bar,body.open_showing #torrent_container {
	display: none!important
}

div#toolbar {
	width: 100%;
	height: 39px;
	margin: 0;
	padding: 2px;
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 3;
	border-bottom: 1px solid #eee;
	background-color: #fff
}

div#toolbar>* {
	cursor: pointer;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	display: inline-block;
	margin-top: 5px;
	width: 32px;
	height: 32px;
	float: left;
	border: 0;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 1px 1px 1px 9px
}

div#toolbar>div#toolbar-separator {
	height: 25px;
	margin-top: 8px;
	margin-bottom: 8px;
	border-left: 1px solid #eee;
	width: 3px
}

div#toolbar>div#toolbar-open {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="none" stroke="%23007AFF" stroke-linejoin="bevel" d="M32 16H0m16 16V0"/></svg>');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 2em
}

#rename_container.dialog_container {
	position: fixed;
	top: 145px
}

div#toolbar>div#toolbar-remove {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 33"><path fill="none" stroke="%23007AFF" stroke-width="1.454" stroke-linejoin="bevel" d="M32.5.5l-32 32m32 0L.5.5"/></svg>');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1.7em
}

div#toolbar>div#toolbar-start {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="%23007AFF" d="M0 0l32 16L0 32V0zm1 1.6v28.8L29.8 16 1 1.6z"/></svg>');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 2em
}

div#toolbar>div#toolbar-pause {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="%23007AFF" d="M12.9 0v32h-8V0h8zm-1 1h-6v30h6V1zM27 0v32h-8V0h8zm-1 1h-6v30h6V1z"/></svg>');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 2em
}

div#toolbar>div#toolbar-start-all {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g fill="%23007AFF"><path d="M0 0l32 16L0 32V0zm1 1.6v28.8L29.8 16 1 1.6z"/><path d="M3.2 5.1L25.5 16 3.2 26.9V5.1zm1 1.6v18.6l19-9.3-19-9.3z"/></g></svg>');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 2em
}

div#toolbar>div#toolbar-pause-all {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g fill="%23007AFF"><path d="M11.7 0v32h-8V0h8zm-1 1h-6v30h6V1z"/><path d="M14.1 2v28h-2.8v-1h1.8V3h-1.9V2h2.9zM26 0v32h-8V0h8zm-1 1h-6v30h6V1z"/><path d="M28.3 2v28h-2.8v-1h1.8V3h-1.8V2h2.8z"/></g></svg>');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 2em
}

div#toolbar>div#toolbar-inspector {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g fill="%23007AFF"><path d="M16 0c8.8 0 16 7.2 16 16s-7.2 16-16 16S0 24.8 0 16 7.2 0 16 0zm0 1C7.7 1 1 7.7 1 16s6.7 15 15 15 15-6.7 15-15S24.3 1 16 1z"/><path d="M13.8 12.4v.4c.7 0 1 0 1.1.2.2.2.3.6.3 1.6v5.1c0 1.8-.1 1.9-1.4 2v.3h4.3v-.4c-1.3 0-1.4-.2-1.4-2v-3.9c0-.8.1-2.4.1-3.6l-3 .3zm1.1-3.2c0 .6.5 1.1 1.1 1.1.6 0 1.1-.5 1.1-1.1 0-.6-.5-1.1-1.1-1.1-.6.1-1.1.5-1.1 1.1z"/></g></svg>');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 2em;
	padding-left: 0;
	transition: all 5s
}

div#toolbar>.disabled {
	opacity: .25
}

#statusbar {
	height: 24px;
	width: 100%;
	border-bottom: 1px solid #eee;
	overflow: hidden;
	position: fixed;
	top: 44px;
	z-index: 3;
	background-color: #fff
}

#statusbar #filter {
	float: left;
	margin-top: 5px;
	margin-left: -35px
}

#statusbar #filter-mode,#filter-tracker,#filter input,#torrent_search {
	display: none
}

#statusbar #filter #filter-count {
	margin-left: 30px
}

#statusbar #speed-info {
	float: right;
	margin-top: 5px;
	margin-right: 5px
}

#statusbar #speed-info * {
	display: inline-block
}

#statusbar #speed-info #speed-up-icon {
	margin-left: 8px;
	width: 10px;
	height: 9px;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8"><path d="M15.3 8L8 .7.7 8H0l8-8 8 8h-.7z"/></svg>');
	background-size: 11px 11px
}

#statusbar #speed-info #speed-dn-icon {
	width: 10px;
	height: 9px;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8"><path d="M16 0L8 8 0 0h.7L8 7.3 15.3 0h.7z"/></svg>');
	background-size: 11px 11px
}

#statusbar #speed-info #speed-up-container,#statusbar #speed-info #speed-dn-container {
	display: inline
}

ul.torrent_list {
	position: relative;
	bottom: 40px;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: left;
	cursor: pointer
}

ul.torrent_list li.torrent {
	border-bottom: 1px solid #ccc;
	padding: 4px 30px 5px 14px;
	color: #666;
	background-color: #fff;
	-webkit-tap-highlight-color: transparent
}

ul.torrent_list li.torrent.compact {
	padding: 4px
}

ul.torrent_list li.torrent.even {
	background-color: #f7f7f7
}

ul.torrent_list li.torrent.selected {
	background-color: #c5e1ff
}

ul.torrent_list li.torrent.compact div.torrent_name {
	color: #000
}

ul.torrent_list li.torrent a {
	display: none
}

ul.torrent_list li.torrent div.torrent_name {
	font-size: 1.1em;
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #3e3e3e;
	margin-top: 2px;
	margin-bottom: 2px
}

ul.torrent_list li.torrent div.torrent_name.compact {
	font-size: 1em;
	font-weight: 400
}

ul.torrent_list li.torrent div.torrent_name.paused {
	font-weight: 400;
	color: #777
}

ul.torrent_list li.torrent div.torrent_progress_details,ul.torrent_list li.torrent div.torrent_peer_details {
	clear: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

ul.torrent_list li.torrent div.torrent_progress_details.error,ul.torrent_list li.torrent div.torrent_peer_details.error {
	color: red
}

ul.torrent_list li.torrent.selected div.torrent_progress_details.error,ul.torrent_list li.torrent.selected div.torrent_peer_details.error {
	color: #fff
}

ul.torrent_list div.torrent_progress_bar_container {
	height: 10px;
	position: relative
}

ul.torrent_list div.torrent_progress_bar_container.compact {
	width: 100%;
	position: absolute;
	right: 10px;
	margin-top: 22px
}

ul.torrent_list div.torrent_progress_bar_container.full {
	margin-top: 2px;
	margin-bottom: 5px
}

ul.torrent_list div.torrent_peer_details.compact {
	margin-top: 2px;
	margin-right: 65px;
	float: right
}

ul.torrent_list div.torrent_progress_bar {
	height: 1px;
	position: absolute;
	top: 0;
	left: 0
}

ul.torrent_list div.torrent_progress_bar.complete {
	z-index: 2;
	background-color: #ffb651
}

ul.torrent_list div.torrent_progress_bar.complete.paused {
	background-color: #7b8994
}

ul.torrent_list div.torrent_progress_bar.complete.magnet {
	background-color: #15fc09
}

ul.torrent_list div.torrent_progress_bar.complete.leeching {
	border-color: #000
}

ul.torrent_list div.torrent_progress_bar.complete.leeching.queued {
	background-color: #6cb23b
}

ul.torrent_list div.torrent_progress_bar.complete.seeding {
	background-color: #007aff
}

ul.torrent_list div.torrent_progress_bar.complete.seeding.queued {
	background-color: #915c07
}

ul.torrent_list div.torrent_progress_bar.incomplete {
	z-index: 1;
	width: 100%
}

ul.torrent_list div.torrent_progress_bar.incomplete.paused {
	background-color: #bfbfbf
}

ul.torrent_list div.torrent_progress_bar.incomplete.magnet {
	background-color: #6da164
}

ul.torrent_list div.torrent_progress_bar.incomplete.leeching {
	background-color: #e28181
}

ul.torrent_list div.torrent_progress_bar.incomplete.leeching.queued {
	background-position: left -80px;
	border-color: #c4c4c4
}

ul.torrent_list div.torrent_progress_bar.incomplete.seeding {
	background-color: #e21aff
}

#prefs-dialog.ui-tabs .ui-tabs-panel {
	padding: 0;
	-webkit-user-select: none
}

.prefs-section {
	margin: 10px;
	text-align: left
}

.prefs-section>* {
	padding-top: 8px;
	padding-left: 8px
}

.prefs-section .title {
	font-weight: 500;
	font-size: medium;
	padding-left: 0
}

.prefs-section .row .key {
	float: left;
	padding-top: 3px;
	color: #8f8f8f
}

.prefs-section .row .key>* {
	margin-left: 0
}

.prefs-section .row .value {
	margin-left: 150px;
	font-style: normal;
	color: #8f8f8f
}

.prefs-section .row .value>* {
	width: 100%
}

.prefs-section .checkbox-row>input {
	margin: 0
}

.prefs-section .checkbox-row>label {
	margin-left: 5px
}

.prefs-section #alternative-speed-limits-title {
	padding-left: 18px;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="none" stroke="%237B8994" stroke-width=".5" d="M8.4 17.1c.3-3.3 1.9-6.3 4.4-8.3s5.6-2.9 8.6-2.7c3 .3 5.7 1.6 7.6 3.8s2.7 4.9 2.4 7.4c-.2 2.5-1.6 4.9-3.4 6.5-1.9 1.6-4.4 2.3-6.7 2.1-2.3-.2-4.5-1.3-5.9-2.9s-2-3.8-1.9-5.7c.2-2 1.2-3.8 2.6-5 1.5-1.3 3.4-1.7 5.2-1.6 1.8.1 3.5 1 4.6 2.2s1.6 2.9 1.5 4.5c-.1 1.6-1 3-2 3.9-1.2 1-2.6 1.4-4.1 1.3-1.5-.1-2.7-.8-3.6-1.7-.9-.9-1.3-2.2-1.2-3.5.1-1.2.7-2.2 1.6-3 .9-.7 2-1.1 3.2-1 1.1.1 2 .6 2.8 1.4.7.8 1 1.7.9 2.7m-11.4-1.1c-6.2 4-8.3-4.8-13.1.8"/></svg>');
	background-repeat: no-repeat;
	background-size: 15px 15px
}

#prefs-dialog.ui-tabs .ui-tabs-panel {
	padding: 0;
	-webkit-user-select: none
}

.prefs-section {
	margin: 10px;
	text-align: left
}

.prefs-section>* {
	padding-top: 8px;
	padding-left: 8px
}

.prefs-section .title {
	font-weight: 500;
	font-size: small;
	padding-left: 0
}

.prefs-section .row .key {
	float: left;
	padding-top: 3px
}

.prefs-section .row .key>* {
	margin-left: 0
}

.prefs-section .row .value {
	margin-left: 150px
}

.prefs-section .row .value>* {
	width: 100%
}

.prefs-section .checkbox-row>input {
	margin: 0
}

.prefs-section .checkbox-row>label {
	margin-left: 5px
}

.prefs-section #alternative-speed-limits-title {
	padding-left: 18px;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="none" stroke="%237B8994" stroke-width=".5" d="M8.4 17.1c.3-3.3 1.9-6.3 4.4-8.3s5.6-2.9 8.6-2.7c3 .3 5.7 1.6 7.6 3.8s2.7 4.9 2.4 7.4c-.2 2.5-1.6 4.9-3.4 6.5-1.9 1.6-4.4 2.3-6.7 2.1-2.3-.2-4.5-1.3-5.9-2.9s-2-3.8-1.9-5.7c.2-2 1.2-3.8 2.6-5 1.5-1.3 3.4-1.7 5.2-1.6 1.8.1 3.5 1 4.6 2.2s1.6 2.9 1.5 4.5c-.1 1.6-1 3-2 3.9-1.2 1-2.6 1.4-4.1 1.3-1.5-.1-2.7-.8-3.6-1.7-.9-.9-1.3-2.2-1.2-3.5.1-1.2.7-2.2 1.6-3 .9-.7 2-1.1 3.2-1 1.1.1 2 .6 2.8 1.4.7.8 1 1.7.9 2.7m-11.4-1.1c-6.2 4-8.3-4.8-13.1.8"/></svg>');
	background-size: 15px 15px;
	background-repeat: no-repeat
}

div#torrent_inspector {
	overflow: hidden;
	text-align: left;
	padding: 15px;
	top: 5px;
	position: relative;
	z-index: 2
}

div#torrent_inspector #inspector-tabs-wrapper {
	width: 100%;
	overflow: hidden;
	text-align: center
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs {
	display: inline-block
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>* {
	cursor: pointer;
	-webkit-user-select: none;
	display: inline-block;
	border-style: solid;
	border-color: #aaa;
	border-width: 1px;
	padding: 3px;
	width: 30px;
	height: 20px;
	transition: background-color 1s
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-info {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g fill="%237B8994"><path d="M16 0c8.8 0 16 7.2 16 16s-7.2 16-16 16S0 24.8 0 16 7.2 0 16 0zm0 1C7.7 1 1 7.7 1 16s6.7 15 15 15 15-6.7 15-15S24.3 1 16 1z"/><path d="M13.8 12.4v.4c.7 0 1 0 1.1.2.2.2.3.6.3 1.6v5.1c0 1.8-.1 1.9-1.4 2v.3h4.3v-.4c-1.3 0-1.4-.2-1.4-2v-3.9c0-.8.1-2.4.1-3.6l-3 .3zm1.1-3.2c0 .6.5 1.1 1.1 1.1.6 0 1.1-.5 1.1-1.1 0-.6-.5-1.1-1.1-1.1-.6.1-1.1.5-1.1 1.1z"/></g></svg>');
	background-position: center;
	background-repeat: no-repeat;
	border-left-width: 1px;
	background-size: 20px 20px;
	background-color: #ddd
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-info:active,div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-info.selected {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g fill="%23007AFF"><path d="M16 0c8.8 0 16 7.2 16 16s-7.2 16-16 16S0 24.8 0 16 7.2 0 16 0zm0 1C7.7 1 1 7.7 1 16s6.7 15 15 15 15-6.7 15-15S24.3 1 16 1z"/><path d="M13.8 12.4v.4c.7 0 1 0 1.1.2.2.2.3.6.3 1.6v5.1c0 1.8-.1 1.9-1.4 2v.3h4.3v-.4c-1.3 0-1.4-.2-1.4-2v-3.9c0-.8.1-2.4.1-3.6l-3 .3zm1.1-3.2c0 .6.5 1.1 1.1 1.1.6 0 1.1-.5 1.1-1.1 0-.6-.5-1.1-1.1-1.1-.6.1-1.1.5-1.1 1.1z"/></g></svg>');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-color: #c5e1ff
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-peers {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 24.2"><g fill="%237B8994"><path d="M21.6 12.8c5.2 1.3 10 4.6 10.4 10.1-.1 1.2 0 .8-.2 1.3H.2c-.2-.6-.1-.1-.2-1.3.2-5.6 5.4-8.7 10.4-10.1 1.6 2.1 3 2.9 5.6 3.2 2.9-.1 3.8-1.3 5.6-3.2zm.3 1.1c-.2.3-.1.1-.4.4-.3.3-.5.6-.8.8-1.3 1.3-2.6 1.8-4.8 1.9h-.2c-2.4-.2-4.4-1.2-5.9-3-4.8 1.5-8.3 4-9 8.9v.3h29.9v-.3c-.3-4.8-4.3-7.6-8.8-9z"/><path d="M16 0c3.7 0 6.8 3.3 6.8 7.3s-3 7.3-6.8 7.3-6.8-3.3-6.8-7.3S12.3 0 16 0zm0 1c-3.2 0-5.7 2.8-5.7 6.3s2.6 6.3 5.7 6.3 5.7-2.8 5.7-6.3S19.2 1 16 1z"/></g></svg>');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-color: #ddd
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-peers:active,div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-peers.selected {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 24.2"><g fill="%23007AFF"><path d="M21.6 12.8c5.2 1.3 10 4.6 10.4 10.1-.1 1.2 0 .8-.2 1.3H.2c-.2-.6-.1-.1-.2-1.3.2-5.6 5.4-8.7 10.4-10.1 1.6 2.1 3 2.9 5.6 3.2 2.9-.1 3.8-1.3 5.6-3.2zm.3 1.1c-.2.3-.1.1-.4.4-.3.3-.5.6-.8.8-1.3 1.3-2.6 1.8-4.8 1.9h-.2c-2.4-.2-4.4-1.2-5.9-3-4.8 1.5-8.3 4-9 8.9v.3h29.9v-.3c-.3-4.8-4.3-7.6-8.8-9z"/><path d="M16 0c3.7 0 6.8 3.3 6.8 7.3s-3 7.3-6.8 7.3-6.8-3.3-6.8-7.3S12.3 0 16 0zm0 1c-3.2 0-5.7 2.8-5.7 6.3s2.6 6.3 5.7 6.3 5.7-2.8 5.7-6.3S19.2 1 16 1z"/></g></svg>');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-color: #c5e1ff
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-trackers {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 28.4"><g fill="none" stroke="%237B8994" stroke-linejoin="bevel"><path d="M19.9 14.2c0-1.9-1.5-3.4-3.4-3.4s-3.4 1.5-3.4 3.4 1.5 3.4 3.4 3.4 3.4-1.5 3.4-3.4zM13.1 24c-3.7-1.9-6.2-5.5-6.2-9.8s2.5-7.9 6.2-9.8"/><path d="M7.9 28C3.4 24.9.5 19.9.5 14.2.5 8.5 3.4 3.5 7.9.4m12 23.6c3.7-1.9 6.2-5.5 6.2-9.8 0-4.2-2.5-7.9-6.2-9.8"/><path d="M25.1 28c4.5-3.1 7.4-8.1 7.4-13.8 0-5.7-2.9-10.7-7.4-13.8"/></g></svg>');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-color: #ddd
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-trackers:active,div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-trackers.selected {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 28.4"><g fill="none" stroke="%23007AFF" stroke-linejoin="bevel"><path d="M19.9 14.2c0-1.9-1.5-3.4-3.4-3.4s-3.4 1.5-3.4 3.4 1.5 3.4 3.4 3.4 3.4-1.5 3.4-3.4zM13.1 24c-3.7-1.9-6.2-5.5-6.2-9.8s2.5-7.9 6.2-9.8"/><path d="M7.9 28C3.4 24.9.5 19.9.5 14.2.5 8.5 3.4 3.5 7.9.4m12 23.6c3.7-1.9 6.2-5.5 6.2-9.8 0-4.2-2.5-7.9-6.2-9.8"/><path d="M25.1 28c4.5-3.1 7.4-8.1 7.4-13.8 0-5.7-2.9-10.7-7.4-13.8"/></g></svg>');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-color: #c5e1ff
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-files {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 33.6"><g fill="none" stroke="%237B8994" stroke-width="1.165"><path d="M26.3 7.4v25.7H.6V7.4h25.7z"/><path d="M6.9 7.6v-7h25.7v25.7h-6.3"/></g></svg>');
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-color: #ddd
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-files:active,div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-files.selected {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.2 33.6"><g fill="none" stroke="%23007AFF" stroke-width="1.165"><path d="M26.3 7.4v25.7H.6V7.4h25.7z"/><path d="M6.9 7.6v-7h25.7v25.7h-6.3"/></g></svg>');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-color: #c5e1ff
}

div#torrent_inspector #inspector_header {
	margin-top: 8px
}

div#torrent_inspector #inspector_header #torrent_inspector_name {
	font-weight: 500;
	font-size: medium
}

div#torrent_inspector ul.tier_list {
	margin: 2px 0 8px;
	width: 100%;
	padding-left: 0;
	text-align: left;
	display: block;
	cursor: default;
	list-style-type: none;
	list-style: none;
	list-style-image: none;
	clear: both
}

div#torrent_inspector ul.tier_list li {
	overflow: hidden
}

div#torrent_inspector ul.tier_list .tracker_activity {
	float: left;
	color: #666;
	width: 200px;
	display: table;
	margin-top: 1px
}

div#torrent_inspector ul.tier_list .tracker_activity div {
	padding: 2px
}

div#torrent_inspector ul.tier_list table {
	float: right;
	color: #666
}

div#torrent_inspector ul.tier_list th {
	text-align: right
}

div#torrent_inspector li.inspector_tracker_entry {
	padding: 3px 0 3px 2px;
	display: block
}

div#torrent_inspector li.inspector_tracker_entry.odd {
	background-color: #eee
}

div#torrent_inspector div.tracker_host {
	font-size: 1.2em;
	font-weight: 700;
	color: #222
}

div#torrent_inspector #inspector_file_list {
	padding: 0;
	margin: 0;
	text-align: left;
	cursor: default;
	overflow: hidden
}

div#torrent_inspector #inspector_file_list {
	border-top: 1px solid #888;
	width: 100%;
	margin: 6px 0 0;
	padding-top: 6px;
	padding-bottom: 10px;
	text-align: left;
	display: block;
	cursor: default;
	list-style-type: none;
	list-style: none;
	list-style-image: none;
	clear: both
}

div#torrent_inspector li.inspector_torrent_file_list_entry {
	padding: 3px 0 3px 2px;
	display: block
}

div#torrent_inspector li.inspector_torrent_file_list_entry.skip {
	color: #666
}

div#torrent_inspector li.inspector_torrent_file_list_entry.even {
	background-color: #f7f7f7
}

div#torrent_inspector div.inspector_torrent_file_list_entry_name {
	font-size: 1.2em;
	color: #000;
	display: inline;
	margin-left: 0
}

div#torrent_inspector li.inspector_torrent_file_list_entry.skip>.inspector_torrent_file_list_entry_name {
	color: #999
}

div#torrent_inspector div.inspector_torrent_file_list_entry_progress {
	color: #999;
	margin-left: 20px
}

div#torrent_inspector ul.single_file li.inspector_torrent_file_list_entry>.file_wanted_control,div#torrent_inspector li.inspector_torrent_file_list_entry.complete>.file_wanted_control {
	cursor: default
}

#inspector_peers_list {
	padding: 0;
	margin: 0;
	text-align: left;
	cursor: default;
	overflow: hidden
}

#inspector_peers_list>div.inspector_group {
	padding-bottom: 0;
	margin-bottom: 0
}

table.peer_list {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	cursor: default;
	clear: both;
	table-layout: fixed
}

table.peer_list .encryptedcol {
	width: 16px
}

table.peer_list .upcol {
	width: 70px
}

table.peer_list .downcol {
	width: 70px
}

table.peer_list .percentcol {
	width: 30px;
	padding-right: 5px;
	text-align: right
}

table.peer_list .statuscol {
	width: 40px;
	padding-right: 5px
}

table.peer_list .addresscol {
	width: 180px
}

table.peer_list .clientcol {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

tr.inspector_peer_entry div.encrypted-peer-cell {
	width: 16px;
	height: 16px;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.5 11.8"><g fill="none" stroke="%23007AFF" stroke-width=".5" stroke-linecap="square" stroke-linejoin="round"><path d="M5.25 11.663c-2.21 0-4-1.876-4-4.19 0-2.315 1.79-4.19 4-4.19s4 1.875 4 4.19c0 2.314-1.79 4.19-4 4.19z"/><path d="M2.426 4.308c0-1.75 1.265-3.17 2.824-3.17 1.56 0 2.824 1.42 2.824 3.17M5.25 8.1c-.323 0-.584-.28-.584-.628 0-.346.26-.627.584-.627.323 0 .584.28.584.627s-.26.628-.584.628z"/></g></svg>');
	background-size: 17px 17px
}

tr.inspector_peer_entry.odd {
	background-color: #eee
}

div.file-priority-radiobox {
	display: inline;
	float: right;
	margin: 4px;
	margin-top: 2px
}

div.file-priority-radiobox>* {
	cursor: pointer;
	-webkit-user-select: none;
	display: inline-block;
	border-style: solid;
	border-color: #aaa;
	border-width: 1px;
	padding: 3px;
	width: 20px;
	height: 12px
}

div.file-priority-radiobox>div.low {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #dcdcdc;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8"><path d="M16 0L8 8 0 0h.707L8 7.293 15.293 0H16z"/></svg>');
	background-size: 15px 15px;
	background-position: center;
	background-repeat: no-repeat;
	border-right-width: 0
}

div.file-priority-radiobox>div.low:active,div.file-priority-radiobox>div.low.selected {
	background-color: #c5e1ff;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8"><path d="M16 0L8 8 0 0h.707L8 7.293 15.293 0H16z"/></svg>');
	background-size: 15px 15px;
	background-position: center;
	background-repeat: no-repeat
}

div.file-priority-radiobox>div.normal {
	background-color: #dcdcdc;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.5 2"><path fill="none" stroke="%23000" stroke-width=".5" d="M.25.992l11 .016"/></svg>');
	background-size: 15px 15px;
	background-position: center;
	background-repeat: no-repeat
}

div.file-priority-radiobox>div.normal:active,div.file-priority-radiobox>div.normal.selected {
	background-color: #c5e1ff;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.5 2"><path fill="none" stroke="%23000" stroke-width=".5" d="M.25.992l11 .016"/></svg>');
	background-size: 15px 15px;
	background-position: center;
	background-repeat: no-repeat
}

div.file-priority-radiobox>div.high {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #dcdcdc;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8"><path d="M15.293 8L8 .707.707 8H0l8-8 8 8h-.707z"/></svg>');
	background-size: 15px 15px;
	background-position: center;
	background-repeat: no-repeat;
	border-left-width: 0
}

div.file-priority-radiobox>div.high:active,div.file-priority-radiobox>div.high.selected {
	background-color: #c5e1ff;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8"><path d="M15.293 8L8 .707.707 8H0l8-8 8 8h-.707z"/></svg>');
	background-size: 15px 15px;
	background-position: center;
	background-repeat: no-repeat
}

div.torrent_footer {
	height: 40px;
	overflow: hidden;
	border-top: 1px solid #eee;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 3;
	background-color: #fff
}

div.torrent_footer>* {
	position: relative;
	float: left;
	margin: 0 0;
	width: 32px;
	height: 32px;
	padding: 2px 10px;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent
}

div.torrent_footer div.main_container,div.torrent_footer ul#settings_menu {
	display: none
}

div.torrent_footer #prefs-button {
	border: 5px;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g fill="none" stroke="%237B8994" stroke-width=".75" stroke-linejoin="round"><path d="M31.5 17.8v-4.4l-4-.9c-.2-.9-.5-1.8-.9-2.6L29 6.2l-3-3.1-3.7 2.2c-.8-.5-1.7-.6-2.6-.8L18.8.4h-4.4l-.9 4.1c-.9.2-1.8.5-2.6.9L7.1 2.9 4 6l2.3 3.7c-.4.8-1 1.7-1.2 2.6l-4.5.9v4.4l4.5 1c.2.9.7 1.8 1.1 2.6L4 24.8l3.1 3.1 3.6-2.3c.8.4 1.7 1.1 2.6 1.3l.9 4.6h4.4l.9-4.6c.9-.2 1.8-.7 2.6-1.1l3.6 2.2 3.1-3.1-2.2-3.7c.4-.8.6-1.7.8-2.6-.1-.1 4.1-.8 4.1-.8z"/><path d="M16.5 7.6c4.2 0 7.8 3.5 7.8 7.9s-3.5 7.9-7.8 7.9-7.7-3.6-7.7-8 3.5-7.8 7.7-7.8z"/></g></svg>');
	background-size: 25px 25px;
	background-position: center;
	background-repeat: no-repeat
}

div.torrent_footer #prefs-button:active,div.torrent_footer #prefs-button.selected {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g fill="none" stroke="%23007AFF" stroke-width=".75" stroke-linejoin="round"><path d="M31.5 17.8v-4.4l-4-.9c-.2-.9-.5-1.8-.9-2.6L29 6.2l-3-3.1-3.7 2.2c-.8-.5-1.7-.6-2.6-.8L18.8.4h-4.4l-.9 4.1c-.9.2-1.8.5-2.6.9L7.1 2.9 4 6l2.3 3.7c-.4.8-1 1.7-1.2 2.6l-4.5.9v4.4l4.5 1c.2.9.7 1.8 1.1 2.6L4 24.8l3.1 3.1 3.6-2.3c.8.4 1.7 1.1 2.6 1.3l.9 4.6h4.4l.9-4.6c.9-.2 1.8-.7 2.6-1.1l3.6 2.2 3.1-3.1-2.2-3.7c.4-.8.6-1.7.8-2.6-.1-.1 4.1-.8 4.1-.8z"/><path d="M16.5 7.6c4.2 0 7.8 3.5 7.8 7.9s-3.5 7.9-7.8 7.9-7.7-3.6-7.7-8 3.5-7.8 7.7-7.8z"/></g></svg>');
	background-size: 25px 25px;
	background-position: center;
	background-repeat: no-repeat
}

div.torrent_footer #turtle-button {
	border: 5px;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="none" stroke="%237B8994" stroke-width=".5" d="M8.4 17.1c.3-3.3 1.9-6.3 4.4-8.3s5.6-2.9 8.6-2.7c3 .3 5.7 1.6 7.6 3.8s2.7 4.9 2.4 7.4c-.2 2.5-1.6 4.9-3.4 6.5-1.9 1.6-4.4 2.3-6.7 2.1-2.3-.2-4.5-1.3-5.9-2.9s-2-3.8-1.9-5.7c.2-2 1.2-3.8 2.6-5 1.5-1.3 3.4-1.7 5.2-1.6 1.8.1 3.5 1 4.6 2.2s1.6 2.9 1.5 4.5c-.1 1.6-1 3-2 3.9-1.2 1-2.6 1.4-4.1 1.3-1.5-.1-2.7-.8-3.6-1.7-.9-.9-1.3-2.2-1.2-3.5.1-1.2.7-2.2 1.6-3 .9-.7 2-1.1 3.2-1 1.1.1 2 .6 2.8 1.4.7.8 1 1.7.9 2.7m-11.4-1.1c-6.2 4-8.3-4.8-13.1.8"/></svg>');
	background-repeat: no-repeat
}

div.torrent_footer #turtle-button:active,div.torrent_footer #turtle-button.selected {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="none" stroke="%23007AFF" stroke-width=".5" d="M8.4 17.1c.3-3.3 1.9-6.3 4.4-8.3s5.6-2.9 8.6-2.7c3 .3 5.7 1.6 7.6 3.8s2.7 4.9 2.4 7.4c-.2 2.5-1.6 4.9-3.4 6.5-1.9 1.6-4.4 2.3-6.7 2.1-2.3-.2-4.5-1.3-5.9-2.9s-2-3.8-1.9-5.7c.2-2 1.2-3.8 2.6-5 1.5-1.3 3.4-1.7 5.2-1.6 1.8.1 3.5 1 4.6 2.2s1.6 2.9 1.5 4.5c-.1 1.6-1 3-2 3.9-1.2 1-2.6 1.4-4.1 1.3-1.5-.1-2.7-.8-3.6-1.7-.9-.9-1.3-2.2-1.2-3.5.1-1.2.7-2.2 1.6-3 .9-.7 2-1.1 3.2-1 1.1.1 2 .6 2.8 1.4.7.8 1 1.7.9 2.7m-11.4-1.1c-6.2 4-8.3-4.8-13.1.8"/></svg>');
	background-repeat: no-repeat
}

div.torrent_footer #rename-button {
	border: 5px;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g fill="none" stroke="%237B8994" stroke-width=".75" stroke-miterlimit="10"><path d="M20.2.5H4.7C2.4.5.5 2.4.5 4.7v22.5c0 2.2 1.9 4.2 4.2 4.2h22.5c2.3 0 4.2-1.9 4.2-4.2V11.8"/><path d="M8.2 23.7l6-1.1L30.3 6.5c1.4-1.4 1.4-3.6 0-4.9-1.4-1.4-3.6-1.4-4.9 0L9.3 17.7l-1.1 6z"/><path d="M9.3 17.7l4 .8.9 4.2M24.9 2.1l5 4.9"/></g></svg>');
	background-size: 23px 23px;
	background-position: center;
	background-repeat: no-repeat
}

div.torrent_footer #compact-button {
	border: 5px;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g fill="%237B8994"><path d="M2.13 7.5h1.267v1.267H2.13z"/><path d="M3.397 7.5v1.267H2.13V7.5h1.267zm-.316.317h-.63v.633h.637v-.633zm-.95 7.845H3.4v1.266H2.13z"/><path d="M3.397 15.662v1.266H2.13v-1.266h1.267zm-.316.317h-.63v.63h.637v-.636zm-.95 7.25H3.4v1.27H2.13z"/><path d="M3.397 23.233V24.5H2.13v-1.267h1.267zm-.316.317h-.63v.633h.637v-.633z"/></g><path fill="%237B8994" d="M5.838 8.134h24.03"/><path fill="none" stroke="%237B8994" stroke-width=".5" d="M5.838 8.134h24.03"/><path fill="%237B8994" d="M5.838 16.295h24.03"/><path fill="none" stroke="%237B8994" stroke-width=".5" d="M5.838 16.295h24.03"/><path fill="%237B8994" d="M5.838 23.866h24.03"/><path fill="none" stroke="%237B8994" stroke-width=".5" d="M5.838 23.866h24.03"/></svg>');
	background-repeat: no-repeat;
	background-position: center
}

div.torrent_footer #compact-button:active,div.torrent_footer #compact-button.selected {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g fill="%23007AFF"><path d="M2.13 7.5h1.267v1.267H2.13z"/><path d="M3.397 7.5v1.267H2.13V7.5h1.267zm-.316.317h-.63v.633h.637v-.633zm-.95 7.845H3.4v1.266H2.13z"/><path d="M3.397 15.662v1.266H2.13v-1.266h1.267zm-.316.317h-.63v.63h.637v-.636zm-.95 7.25H3.4v1.27H2.13z"/><path d="M3.397 23.233V24.5H2.13v-1.267h1.267zm-.316.317h-.63v.633h.637v-.633z"/></g><path fill="%23007AFF" d="M5.838 8.134h24.03"/><path fill="none" stroke="%23007AFF" stroke-width=".5" d="M5.838 8.134h24.03"/><path fill="%23007AFF" d="M5.838 16.295h24.03"/><path fill="none" stroke="%23007AFF" stroke-width=".5" d="M5.838 16.295h24.03"/><path fill="%23007AFF" d="M5.838 23.866h24.03"/><path fill="none" stroke="%23007AFF" stroke-width=".5" d="M5.838 23.866h24.03"/></svg>');
	background-repeat: no-repeat;
	background-position: center
}

div.torrent_footer #verify-button {
	border: 5px;
	background-color: transparent;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g fill="none" stroke="%237B8994" stroke-width=".5"><path d="M15.9 23.9C7.4 23.9.5 16 .5 16S7.4 8.1 16 8.1s15.5 7.8 15.5 7.8-7 8-15.6 8z"/><path d="M15.9 20.2c-2.2 0-4.2-1.8-4.2-4.2s1.8-4.2 4.2-4.2 4.2 1.9 4.2 4.2-1.9 4.2-4.2 4.2z"/></g></svg>');
	background-repeat: no-repeat;
	background-position: center
}

div.torrent_footer #torrent-button select {
	color: transparent;
	width: 32px;
	height: 32px;
	background-size: 32px 32px;
	border: 0;
	background-size: cover;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g fill="%237B8994"><path d="M16 2.91l16 8.11-16 8.112-16-8.11 16-8.11zm0 .562l-14.894 7.55L16 18.57l14.894-7.55L16 3.47z"/><path d="M16 8.3l16 8.11-16 8.11-16-8.11L16 8.3zm0 .56L1.106 16.41 16 23.96l14.894-7.55L16 8.86z"/><path d="M16 12.868l16 8.11-16 8.11-16-8.11 16-8.11zm0 .56L1.106 20.98 16 28.528l14.894-7.55L16 13.428z"/></g></svg>')
}

div#dialog_message.dialog_message {
	width: 280px;
	margin: 10px auto 25px;
	font-size: 13px;
	line-height: 14px;
	word-wrap: break-word;
	overflow: hidden;
	padding-bottom: 0
}

#torrent_upload_file,label[for=torrent_upload_file] {
	visibility: hidden;
	width: 0;
	position: relative;
	-webkit-tap-highlight-color: transparent
}

label[for=torrent_upload_file]:before {
	content: 'Select some files';
	display: inline-block;
	border: .5px solid #007aff;
	border-radius: 5px;
	padding: 4px 7px;
	right: 85px;
	outline: 0;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	visibility: visible;
	position: absolute
}

#url {
	position: relative;
	display: inline-block;
	left: -165px;
	top: 25px
}

#add-dialog-folder-label {
	display: block;
	position: relative;
	top: 9px;
	left: -43px
}

#torrent_auto_start {
	-webkit-appearance: none;
	border: .5px solid #007aff;
	border-radius: 50%;
	position: relative;
	left: -196px;
	top: 35px
}

#torrent_auto_start:checked {
	position: relative;
	background-color: #007aff
}

#auto_start_label {
	border-radius: 50%;
	position: relative;
	display: block;
	top: 11px;
	left: -35px
}

#torrent_upload_url {
	-webkit-appearance: none;
	border: .5px solid #007af0;
	position: relative;
	margin: 25px auto auto;
	width: 210px
}

#add-dialog-folder-input {
	-webkit-appearance: none;
	border: .5px solid #007aff;
	position: relative;
	margin: 14px -24px auto auto;
	width: 210px
}

h2.dialog_heading {
	text-align: center;
	width: 300px;
	margin: 0 auto;
	font-size: 14px
}

div.dialog_container a {
	-webkit-appearance: none;
	color: #007aff!important;
	text-decoration: none;
	border: .5px solid #007aff;
	font-weight: 700;
	-webkit-border-radius: 16px;
	display: inline-block;
	width: 80px;
	font-size: 10px;
	text-align: center;
	margin: 17px;
	padding: 7px 0
}

#torrent_rename_name {
	-webkit-appearance: none;
	border: .5px solid #007aff;
	width: 237px
}

#dialog_container div.dialog_window img {
	margin: 5px auto 12px
}

.landscape div.dialog_container a#dialog_cancel_button {
	left: 155px
}

.landscape div.dialog_container a#dialog_confirm_button {
	right: 110px
}

.landscape div.dialog_container img {
	float: left!important;
	margin: 0 0 0 50px
}

.landscape h2#dialog_heading.dialog_heading {
	margin: 5px auto 0;
	margin-left: 150px;
	text-align: left;
	transition: all 3s
}

.landscape h2#dialog_heading:hover.dialog_heading:hover {
	margin: 5px auto 0;
	margin-left: 150px;
	text-align: left;
	background-color: red
}

.landscape div#dialog_message.dialog_message {
	width: 300px;
	margin: 10px 0 20px 150px;
	text-align: left
}

div#torrent_context_menu {
	display: inline
}

iframe#torrent_upload_frame {
	display: block;
	position: absolute;
	top: -1000px;
	left: -1000px;
	width: 0;
	height: 0;
	border: .5px solid #007aff;
	padding: 0;
	margin: 0
}
